<p id="notice"><%= notice %></p>

<section class="clearfix">
		<div class="container">
			<div class="section-left">
				<h1 class="section-title">All Pins</h1>
        <h5> 
          <%= render partial: 'categories/list_categories'%>
        </h5>
			</div>
		</div>
	</section>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
    <%= render partial: 'all_pins' %>
</table>

<br>

