<%= form_for([@pin, @comment])   do |f| %>
	<div class='field'>
		<h5><%= f.label "Leave a comment here" %></h5>
			<%= f.text_area :content %> 
	</div>

	<div class='action field'>
		<input type="submit" value="Add Comment" />
	</div>
<% end %> 