/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 *=require bootstrap-modal

 */

 @import "bootstrap";
 @import "font-awesome";


 body {
    background: white;

 }

 h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    text-align: center;
 }

 nav {
    font-size: 12px;
    box-shadow: 0 1px 2px  white;
 }

 #show {
    width: 700px ;
    margin-left: auto ;
    margin-right: auto ;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 0px 20px;
 }

 #title {
    font-size: 150%;
    font-family: "Lucida Console", Monaco, monospace;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    margin-left: auto ;
    margin-right: auto ;
 }

 #descrip {
    font-size: 100%;
    font-style: italic; 
    padding: 20px;
    text-align: center;
    margin-left: auto ;
    margin-right: auto ;
 }

  #pins {
   margin: 0 auto;
   width: 100%;
   .box {
      margin: 10px;
      width: 350px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
      border-radius: 7px;
      text-align: center;
      img {
        max-width: 100%;
        height: auto;
      }
      h2 {
        font-size: 22px;
        margin: 0;
        padding: 25px 10px;
        a {
                color: #474747;
        }
      }
      .user {
        font-size: 12px;
        border-top: 1px solid #EAEAEA;
            padding: 15px;
            margin: 0;
      }
    }
 }


 #edit_page {
    .current_image {
        img {
            display: block;
            margin: 20px 0;
        }
    }
 }

 #pin_show {
    .panel-heading {
        padding: 0;
    }
    .pin_image {
        img {
            max-width: 100%;
            width: 100%;
            display: block;
            margin: 0 auto;
        }
    }
    .panel-body {
        padding: 35px;
        h1 {
            margin: 0 0 10px 0;
        }
        .description {
            color: #868686;
            line-height: 1.75;
            margin: 0;
        }
    }
    .panel-footer {
        padding: 20px 35px;
        p {
            margin: 0;
        }
        .user {
            padding-top: 8px;
        }
    }
 }

 textarea {
  width: 250px;
  height: 250px;
    border: 1px solid; 
    font-size: 14px;
 }


 .field {
     padding-top: 15px; 
     padding-bottom: 15px;
     text-align: center; 
     margin-left: auto; 
     margin-right: auto; 
    font-size: 14px;

 }

button {
  background: #d4d0d0;
  background-image: -webkit-linear-gradient(top, #d4d0d0, #fafdff);
  background-image: -moz-linear-gradient(top, #d4d0d0, #fafdff);
  background-image: -ms-linear-gradient(top, #d4d0d0, #fafdff);
  background-image: -o-linear-gradient(top, #d4d0d0, #fafdff);
  background-image: linear-gradient(to bottom, #d4d0d0, #fafdff);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Courier New;
  color: #1a181a;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.image img {
    width: 100%;
    height: auto;
}

.container {
    width: 300px;
    height: 220px;
}


