<p id="notice"><%= notice %></p>

<section class="clearfix">
		<div class="container">
			<div class="section-left">
				<h1 class="section-title"><%=@category.name%></h1>
        <h5> 
          <%= render partial: 'list_categories', locals: {categories: @categories} %>
        </h5>
			</div>
		</div>
	</section>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <%= render partial: 'pins/all_pins', locals: {pins: @pins} %>

</table>

<br>